<!DOCTYPE html>
<html>
<head>

    <title>TwitterSentApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
</head>
<body>
    <div id="entire_page">

        <div id="page_1">
        <h1 id="website_title">Poli-Sentiment</h1>
            <div id="inputform_div">    
                <div class = "inputForm">
                    <input id="searchTerm" placeholder="search a political figure">

                    <button  class="myButton" id="searchButton">generate</button><br>
                
                </div>
            </div>
         </div>

         <div id="page_2">
            <p> Sponsored Ad</p>
            <div class = "loadingAdvert"> </div>
            <h2> One moment please, your graph is being generated... </h2>
            <div class = "loadingMessagesDiv"></div>

        </div>

        <div id="page_3">
            <p>Sentiment Analysis</p>
            <div id="chart_article">
                <div id ="graph">
                    
                </div>
                <div id="times_articles"></div>
                <%= yield %>

                <div class='nyt_api'></div>

                <img src="cosmo-naina-legend.png" id="legend"/>

            </div>
            <div id="button_div">
              <button id="page3_button">SEARCH ANOTHER</button>
            </div>
       </div>

    </div>

</body>
</html>