<!DOCTYPE html>
<html>
<head>

    <title>TwitterSentApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
</head>
<body>
    <div class = "inputForm">
        <input id="searchTerm" type="text" name="tweet" placeholder="enter search term"><br>
        <button id="searchButton">search</button><br>
    </div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Mzze76A-kkk" frameborder="0" allowfullscreen></iframe>



    <canvas id="myChart" width="400" height="400"></canvas>
    <div id="times_articles"></div>
    <%= yield %>

    <div class='nyt_api'></div>

</body>
</html>