<!DOCTYPE html>
<html>
<head>
  <title>TwitterSentApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  	$(function() {
    	$( ".datepicker" ).datepicker();
  	});
  </script>
</head>
<body>

<div class = "inputForm">
	<form action='/twittersearch' method="POST">
		<input type="text" name="tweet" placeholder="enter search term"><br>
		<p>Start Date: <input name="start_date" type="text" class="datepicker" id="startDate"></p>
		<p>End Date: <input name="end_date" type="text" class="datepicker" id="endDate"></p>
		<button>search</button><br>
	</form>
</div>


<%= yield %>

</body>
</html>
